@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titillium+Web:wght@300&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #b4e2d3   ;
    --secondary-color: #005f73 ;
    --accent1-color: #ebb44e;
    --accent2-color: #8a3812;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Gloria Hallelujah";
    --paragraph-font: Titillium Web, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #396E94;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: #ebb44e;
    --nav-background-color: #8a3812;
    --nav-hover-link-color: #b4e2d3;
    --nav-hover-background-color: #005f73;
  }

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#logo_link {
    padding: 5px;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

a:hover {
    color: #b4e2d3;
    background-color: #005f73;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
    color: #ebb44e;
}

div.button-box {
    text-align: center;
}

.home-title {
    color: #ebb44e;
    font-family: "Gloria Hallelujah";
    font-size: 2em;
    margin-top: 10px;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #ebb44e;
    color: black;
}

body {
    background-color: #8a3812;
    font-family: "Titillium Web";
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #8a381298;
}

.book, .join {
    color: #ebb44e;
    background-color: #8a3812;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #005f73;
    color: #b4e2d3;
}

h4 {
    color: black;
}

.msg {
    background-color: #8a3812;
    font-family: "Gloria Hallelujah";
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: #ebb44e;
    margin: 0;
}

.msg p {
    color: #ebb44e;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #005f73;
    color: #b4e2d3;
    padding: 25px 50px;
    margin: 200px;
}

footer h3 {
    color: #b4e2d3;
}

footer h3 a:hover {
    color: #b4e2d3;
    text-decoration: underline;
}

footer a {
    background-color: #005f73;
    color: #b4e2d3;
    text-decoration: none;
}

footer a:hover {
    background-color: #c2943f;
    color: #b4e2d3;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #8a3812;
}