div.icon {
    width: 80px
}

#hero-img {
    width: 100%
}

div.content {
    max-width: 1600px;
    margin: 0 auto;
}

div.nav a {
    text-align: center;
    color: black;
    text-decoration: none;
}

div.nav a:hover {
    color: #b4e2d3;
    background-color: #005f73;
}

div.hero-msg h1 {
    text-align: center;
}

div.hero-msg h4 {
    text-align: center;
}

div.button-box {
    text-align: center;
}

div.home-title {
    color: #ebb44e;
}

div.main {
    text-align: center;
}

div.background {
    height: 725px;
    background-color: #8a3812;
    color: black;
}

div.body {
    background-color: #8a3812;
}

div.header {
    background-color: #8a381298;
}

div.book {
    color: #ebb44e;
    background-color: #8a3812;
    text-decoration: none;
}

div.book:hover {
    background-color: #005f73;
    color: #b4e2d3;
}

div.join {
    background-color: #8a3812;
    color: #ebb44e;
    text-decoration: none;
}

div.join:hover {
    background-color: #005f73;
    color: #b4e2d3;
}

div.h4 {
    color: black;
}

div.msg {
    background-color: #8a3812;
}

div.msg h2 {
    color: black;
}

div.msg p {
    color: black;
}

div.footer {
    background-color: #8a3812;
    color: #ebb44e;
}

div.footer h3 {
    color: black;
    text-decoration: underline;
}

div.footer a {
    background-color: #8a3812;
    color: #ebb44e;
    text-decoration: none;
}

div.footer a:hover {
    background-color: #005f73;
    color: #b4e2d3;
    text-decoration: underline;
}