:root {
  /* change the values below to your colors from your palette */
  --primary-color: #A47963   ;
  --secondary-color: #A6A57A ;
  --accent1-color: #A33B20;
  --accent2-color: #F8F2DC;

  /* change the values below to your chosen font(s) */
  --heading-font: "Gentium Plus";
  --paragraph-font: Montserrat, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #396E94;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}

.header {
    background-color: #A47963;
    text-align: center;
    padding: 10px;
}


nav {
    text-align: left;
    font-size: 1em;
    justify-content: space-around;
}

nav a {
    float: left;
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border: 1px solid black;
}

nav a:hover {
    color: #A33B20;
    background-color: #F8F2DC; 
}

#logo_link {
    padding: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 100px;
    justify-self: center;
    align-self: center;
}

.column1 {
    grid-area: "column1";
    float: left;
    background-color: #A6A57A;
    text-align: center;
    padding: 10px;
    border: 3px solid black;
}

.column2 {
    grid-area: "column2";
    background-color: #A6A57A;
    padding: 10px;
}

footer {
    float: none;
    border: 3px solid black;
    padding: 10px;
}

.link-icon {
    padding: 5px;
}

footer .link-icon img {
    padding: 20px;
}